@import url('../abstracts/mixins');
@import url('../base/typography');

.projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: calc((100vh) - ($frame-space * 2) - 2px);
  overflow: scroll;
  padding-top: 10rem;
}

.projects-left {
  display: none;

  @include md {
    display: flex;
    width: 40%;
  }
}

.projects-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: $vspace-0_25;
  padding-right: $vspace-0_25;
  justify-content: flex-end;
  overflow: scroll;

  @include md {
    width: 60%;
  }
}

.projects-right ul {
  overflow-y: auto;
  padding-left: 0px;
  margin: 0;
}

.projects-right ul .projects-row {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $vspace-0_25 0;
  border-bottom: solid 2px $color-4;

  @include sm {
    padding: $vspace-0_5 0;
  }
}

.projects-right ul li:last-child .projects-row {
  border-bottom: 0;
}

.projects-name {
  display: flex;
  align-items: center;
  width: 100%;
  text-overflow: ellipsis;
}

.projects-name .projects-arrow {
  position: absolute;
  overflow: hidden;
}

.projects-title {
  margin: 0 0 0 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  transform: translateX(-30px);
  transition: all 0.3s ease-in-out;
  padding-right: 20px;
  font-size: $text-sm;
  font-weight: 400;
  font-family: bicyclette, sans-serif;

  @include sm {
    margin-right: 20px;
    font-size: 1.6rem;
  }

}

.projects-link:hover .projects-title,
.projects-link:active .projects-title {
  transform: translateX(0);
}

.arrow {
  padding: 0 $vspace-0_25 5px 0;
  margin: 0;
  position: relative;
  transform: translateX(-80px);
  transition: all 0.3s ease-in-out;
  font-size: $text-sm;
}

.projects-link:hover .arrow,
.projects-link:active .arrow {
  transform: translateX(0);
}

.projects-right ul .projects-year {
  display: none;
  width: 100%;
  text-align: right;
  justify-content: flex-end;

  @include xs {
    display: flex;
  }
}

.projects-right ul .projects-year p {
  margin: 0;
}

.scrollable-list-container {
  max-height: 400px;
  overflow-y: scroll;
}