@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/typography';


.projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: calc((100vh) - ($frame-space * 2) - 2px);
  overflow: scroll;
  padding-top: 10rem;
}

.projects__left {
  display: none;

  @include md {
    display: flex;
    width: 40%;
  }
}

.projects__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: $vspace-0_25;
  padding-right: $vspace-0_25;
  justify-content: flex-end;
  overflow: scroll;

  @include md {
    width: 60%;
  }
}

.projects__right ul {
  overflow-y: auto;
  padding-left: 0px;
  margin: 0;
}

.projects__right ul .projects__row {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $vspace-0_25 0;
  border-bottom: solid 2px $color-4;

  @include sm {
    padding: $vspace-0_5 0;
  }
}

.projects__right ul li:last-child .projects__row {
    border-bottom: 0;
}

.projects__name {
  display: flex;
  align-items: center;
  width: 100%;
  text-overflow: ellipsis;
}

.projects__name .projects__arrow {
  position: absolute;
  overflow: hidden;
}

.projects__title {
  margin-top: 0;
  margin-bottom:0;
  margin-left: 2rem;
  margin-right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  transform: translateX(-30px);
  transition: all 0.3s ease-in-out;
  padding-right: 20px;
  font-size: $text-sm;
  font-weight: 400;
  font-family: bicyclette, sans-serif;

  @include sm {
    margin-right: 20px;
    font-size: 1.6rem;
  }

}

.projects__name:hover .projects__title, .projects__name:active .projects__title {
  transform: translateX(0);
}

.arrow {
  padding: 0 $vspace-0_25 5px 0;
  margin: 0;
  position: relative;
  transform: translateX(-100px);
  transition: all 0.3s ease-in-out;
  font-size: $text-sm;
}

.projects__name:hover .arrow, .projects__name:active .arrow {
  transform: translateX(0);
}

.projects__right ul .projects__year {
  display: none;
  width: 100%;
  text-align: right;
  justify-content: flex-end;

  @include xs {
    display: flex;
  }
}

.projects__right ul .projects__year p {
  margin: 0;
}

.project__image {
  display: flex;
  min-width: 100%;
  height: 400px;
  padding: 20px;
  object-fit: cover;
  
}