.page-bg {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  @mixin page-background($color, $image) {
    background-color: $color;
    background-image: url("../../images/backgrounds/#{$image}"); // links to public/images/backgrounds folder
}

.page-bg--lightpink {
    @include page-background($color-5-lightest, 'asfalt-lighter.png'); // name of image within public/images/backgrounds folder
}
  
  .page-bg--pink {
    @include page-background($color-5, 'asfalt-lighter.png');
  }
  
  .page-bg--forestgreen {
    @include page-background($color-4, 'asfalt-dark.png');
  }
  
  .page-bg--offwhite {
    @include page-background($color-2, 'asfalt-lighter.png');
  }
  

.slide-page-up {
    height: 100%;
    width: 100%;
}

