.form__wrapper {
    padding: $vspace-0_5;
    border: 1px solid $color-4;
    border-radius: $border-radius-small;
    width: 100%;
}

.button__body--form, #contact-form .button__body--form {
    @include button-color($color-4, $color-5); // see mixins.scss
}

/* reset */
#contact-form input,
#contact-form textarea,
#contact-form fieldset,
#contact-form label {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

}

#contact-form input {
        padding: 0 0 0 $vspace-0_25;
    height: 45px;
}

/* border, padding, margin, width */
#contact-form input,
#contact-form select,
#contact-form textarea {
    border: 1px solid $color-4;
    border-radius: $border-radius-small;
    line-height: normal;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    transition: border .15s;
    background-color: $color-5-lightest;
    margin-bottom: $vspace-0_25;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
        outline: 0;
    border: 2px solid $color-4;
}

#contact-form [type="text"],
#contact-form [type="email"] {
    width: 100%;
}


#contact-form textarea {
    padding: $vspace-0_25;
    height: 100px;
    overflow: auto;
    resize: none;
}
