.header {
    color: white;
    position: fixed;
    z-index: 5;
    top: $vspace_1;
    left: 0;
    right: 0;
    mix-blend-mode: difference;

  @include xl {
    top: $vspace-2;
  }
}
  
.header a {
    color: white;
  }

.header__left,.header__right {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0 $vspace-0_75;

    @include md {
      padding: 0 $vspace-1;
  } 

  @include lg {
  align-items: flex-start
  }

@include xl {
  padding: 0 $vspace-2;
} 
}

.header__content ul {
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include lg {
flex-direction: row;
  }
}

// LOGO ANIMATION

@keyframes spin {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(360deg); // Rotate 360 degrees along the vertical axis
  }
}

.header__logo img {
  width: 3rem;
  animation: spin 4s linear infinite;
  transition: transform 0.3s ease;
}


.header__logo:hover img {
  animation-play-state: paused; // stop spinning animation on hover
}

.ball {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  backdrop-filter: invert(1) grayscale(1);
  -webkit-backdrop-filter: invert(1) grayscale(1);
  z-index: 99999;
  display: none;

  @include sm {
    display:block;
  }
}

.hidden {
  display: none;
}