

.menu li {
    display: block;
    transform: none;

}

.menu__burger {
    display: flex;
    justify-content: center;
}

.menu__checkbox {
    display: none;
}



//TODO Why isn't burger rotating?