.wrapper--eleanor {
    padding-bottom: 10px;

    @include sm {
      padding-bottom: 20px;
    }

    @include xl {
      padding-bottom: 30px;
    }
}

svg#eleanor {
    width: 100%;
}

svg#projects, svg#about_en, svg#contact {
    width: auto;
    height: 4rem;
@include sm {
    height: 6rem;
}
}


 svg#EleanorMears .svg-elem-1 {
    stroke-dashoffset: 359.8897399902344px;
    stroke-dasharray: 359.8897399902344px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg#EleanorMears.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-2 {
    stroke-dashoffset: 224.5533447265625px;
    stroke-dasharray: 224.5533447265625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg#EleanorMears.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-3 {
    stroke-dashoffset: 344.5673828125px;
    stroke-dasharray: 344.5673828125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg#EleanorMears.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-4 {
    stroke-dashoffset: 336.5207824707031px;
    stroke-dasharray: 336.5207824707031px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg#EleanorMears.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-5 {
    stroke-dashoffset: 651.7550048828125px;
    stroke-dasharray: 651.7550048828125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg#EleanorMears.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-6 {
    stroke-dashoffset: 406.86285400390625px;
    stroke-dasharray: 406.86285400390625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg#EleanorMears.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-7 {
    stroke-dashoffset: 366.503662109375px;
    stroke-dasharray: 366.503662109375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }
  
  svg#EleanorMears.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-8 {
    stroke-dashoffset: 355.33135986328125px;
    stroke-dasharray: 355.33135986328125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg#EleanorMears.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-9 {
    stroke-dashoffset: 590.3971557617188px;
    stroke-dasharray: 590.3971557617188px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg#EleanorMears.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#EleanorMears .svg-elem-10 {
    stroke-dashoffset: 371.9461669921875px;
    stroke-dasharray: 371.9461669921875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }
  
  svg#EleanorMears.active .svg-elem-10 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  


svg#eleanor .svg-elem-1 {
    stroke-dashoffset: 359.8897399902344px;
    stroke-dasharray: 359.8897399902344px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg#eleanor.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-2 {
    stroke-dashoffset: 224.5533447265625px;
    stroke-dasharray: 224.5533447265625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg#eleanor.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-3 {
    stroke-dashoffset: 344.5673828125px;
    stroke-dasharray: 344.5673828125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg#eleanor.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-4 {
    stroke-dashoffset: 336.5207824707031px;
    stroke-dasharray: 336.5207824707031px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg#eleanor.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-5 {
    stroke-dashoffset: 651.7550048828125px;
    stroke-dasharray: 651.7550048828125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg#eleanor.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-6 {
    stroke-dashoffset: 406.86285400390625px;
    stroke-dasharray: 406.86285400390625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg#eleanor.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-7 {
    stroke-dashoffset: 366.5036926269531px;
    stroke-dasharray: 366.5036926269531px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg#eleanor.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-8 {
    stroke-dashoffset: 355.331298828125px;
    stroke-dasharray: 355.331298828125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg#eleanor.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-9 {
    stroke-dashoffset: 590.397705078125px;
    stroke-dasharray: 590.397705078125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg#eleanor.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#eleanor .svg-elem-10 {
    stroke-dashoffset: 371.9467468261719px;
    stroke-dasharray: 371.9467468261719px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

svg#eleanor.active .svg-elem-10 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

/***************************************************
 * Generated by SVG Artista on 2/15/2023, 12:06:37 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg#projects .svg-elem-1 {
    stroke-dashoffset: 317.37841796875px;
    stroke-dasharray: 317.37841796875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg#projects.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#projects .svg-elem-2 {
    stroke-dashoffset: 399.0975341796875px;
    stroke-dasharray: 399.0975341796875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg#projects.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#projects .svg-elem-3 {
    stroke-dashoffset: 207.60821533203125px;
    stroke-dasharray: 207.60821533203125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg#projects.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#projects .svg-elem-4 {
    stroke-dashoffset: 232.77105712890625px;
    stroke-dasharray: 232.77105712890625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg#projects.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#projects .svg-elem-5 {
    stroke-dashoffset: 418.3818664550781px;
    stroke-dasharray: 418.3818664550781px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg#projects.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#projects .svg-elem-6 {
    stroke-dashoffset: 345.8705749511719px;
    stroke-dasharray: 345.8705749511719px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg#projects.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#projects .svg-elem-7 {
    stroke-dashoffset: 227.37432861328125px;
    stroke-dasharray: 227.37432861328125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg#projects.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}

svg#projects .svg-elem-8 {
    stroke-dashoffset: 369.5057067871094px;
    stroke-dasharray: 369.5057067871094px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg#projects.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
}


/***************************************************
 * Generated by SVG Artista on 2/15/2023, 2:33:44 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg#about_en .svg-elem-1 {
    stroke-dashoffset: 593.7811279296875px;
    stroke-dasharray: 593.7811279296875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg#about_en.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(249, 243, 220);
}

svg#about_en .svg-elem-2 {
    stroke-dashoffset: 351.3244934082031px;
    stroke-dasharray: 351.3244934082031px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg#about_en.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(249, 243, 220);
}

svg#about_en .svg-elem-3 {
    stroke-dashoffset: 324.4894104003906px;
    stroke-dasharray: 324.4894104003906px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg#about_en.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(249, 243, 220);
}

svg#about_en .svg-elem-4 {
    stroke-dashoffset: 58.88137435913086px;
    stroke-dasharray: 58.88137435913086px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg#about_en.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(249, 243, 220);
}

svg#about_en .svg-elem-5 {
    stroke-dashoffset: 35.48370361328125px;
    stroke-dasharray: 35.48370361328125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg#about_en.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(249, 243, 220);
}

svg#about_en .svg-elem-6 {
    stroke-dashoffset: 227.37428283691406px;
    stroke-dasharray: 227.37428283691406px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg#about_en.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(249, 243, 220);
}

/***************************************************
 * Generated by SVG Artista on 2/15/2023, 3:26:01 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 /***************************************************
 * Generated by SVG Artista on 2/18/2023, 1:35:38 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg#contact .svg-elem-1 {
    stroke-dashoffset: 534.5879516601562px;
    stroke-dasharray: 534.5879516601562px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg#contact.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-2 {
    stroke-dashoffset: 157.07650756835938px;
    stroke-dasharray: 157.07650756835938px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg#contact.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-3 {
    stroke-dashoffset: 62.74598693847656px;
    stroke-dasharray: 62.74598693847656px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg#contact.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-4 {
    stroke-dashoffset: 369.50762939453125px;
    stroke-dasharray: 369.50762939453125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg#contact.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-5 {
    stroke-dashoffset: 586.978759765625px;
    stroke-dasharray: 586.978759765625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg#contact.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-6 {
    stroke-dashoffset: 544.6370849609375px;
    stroke-dasharray: 544.6370849609375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg#contact.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-7 {
    stroke-dashoffset: 353.0721740722656px;
    stroke-dasharray: 353.0721740722656px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }
  
  svg#contact.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-8 {
    stroke-dashoffset: 345.87060546875px;
    stroke-dasharray: 345.87060546875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg#contact.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-9 {
    stroke-dashoffset: 227.3866729736328px;
    stroke-dasharray: 227.3866729736328px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg#contact.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-10 {
    stroke-dashoffset: 155.22119140625px;
    stroke-dasharray: 155.22119140625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }
  
  svg#contact.active .svg-elem-10 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-11 {
    stroke-dashoffset: 58.881568908691406px;
    stroke-dasharray: 58.881568908691406px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  }
  
  svg#contact.active .svg-elem-11 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact .svg-elem-12 {
    stroke-dashoffset: 35.48378372192383px;
    stroke-dasharray: 35.48378372192383px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
                          fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
                  fill 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
  }
  
  svg#contact.active .svg-elem-12 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  

  /***************************************************
 * Generated by SVG Artista on 2/22/2023, 10:14:10 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg#contact-sm .svg-elem-1 {
    stroke-dashoffset: 534.5879516601562px;
    stroke-dasharray: 534.5879516601562px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg#contact-sm.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-2 {
    stroke-dashoffset: 157.07650756835938px;
    stroke-dasharray: 157.07650756835938px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.32s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.15s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.32s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.15s;
  }
  
  svg#contact-sm.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-3 {
    stroke-dashoffset: 62.74598693847656px;
    stroke-dasharray: 62.74598693847656px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.44s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.44s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg#contact-sm.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-4 {
    stroke-dashoffset: 369.50762939453125px;
    stroke-dasharray: 369.50762939453125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.56s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.45s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.56s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.45s;
  }
  
  svg#contact-sm.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-5 {
    stroke-dashoffset: 586.9750366210938px;
    stroke-dasharray: 586.9750366210938px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6799999999999999s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6799999999999999s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg#contact-sm.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-6 {
    stroke-dashoffset: 544.63671875px;
    stroke-dasharray: 544.63671875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s;
  }
  
  svg#contact-sm.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-7 {
    stroke-dashoffset: 353.0721435546875px;
    stroke-dasharray: 353.0721435546875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9199999999999999s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9199999999999999s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
  }
  
  svg#contact-sm.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-8 {
    stroke-dashoffset: 345.8705139160156px;
    stroke-dasharray: 345.8705139160156px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.04s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.05s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.04s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.05s;
  }
  
  svg#contact-sm.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-9 {
    stroke-dashoffset: 227.38670349121094px;
    stroke-dasharray: 227.38670349121094px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.16s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.16s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
  }
  
  svg#contact-sm.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-10 {
    stroke-dashoffset: 155.22122192382812px;
    stroke-dasharray: 155.22122192382812px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.28s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3499999999999996s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.28s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3499999999999996s;
  }
  
  svg#contact-sm.active .svg-elem-10 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-11 {
    stroke-dashoffset: 58.881446838378906px;
    stroke-dasharray: 58.881446838378906px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
  }
  
  svg#contact-sm.active .svg-elem-11 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  
  svg#contact-sm .svg-elem-12 {
    stroke-dashoffset: 35.483768463134766px;
    stroke-dasharray: 35.483768463134766px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5199999999999998s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.65s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5199999999999998s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.65s;
  }
  
  svg#contact-sm.active .svg-elem-12 {
    stroke-dashoffset: 0;
    fill: rgb(38, 94, 93);
  }
  

 /***************************************************
 * Generated by SVG Artista on 9/26/2023, 11:56:14 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg#about_fr .svg-elem-1 {
  stroke-dashoffset: 500.33441162109375px;
  stroke-dasharray: 500.33441162109375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg#about_fr.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-2 {
  stroke-dashoffset: 415.69989013671875px;
  stroke-dasharray: 415.69989013671875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg#about_fr.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-3 {
  stroke-dashoffset: 522.89306640625px;
  stroke-dasharray: 522.89306640625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg#about_fr.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-4 {
  stroke-dashoffset: 326.2162170410156px;
  stroke-dasharray: 326.2162170410156px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg#about_fr.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-5 {
  stroke-dashoffset: 78.49742889404297px;
  stroke-dasharray: 78.49742889404297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg#about_fr.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-6 {
  stroke-dashoffset: 47.017887115478516px;
  stroke-dasharray: 47.017887115478516px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg#about_fr.active .svg-elem-6 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-7 {
  stroke-dashoffset: 415.70001220703125px;
  stroke-dasharray: 415.70001220703125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg#about_fr.active .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-8 {
  stroke-dashoffset: 460.2531433105469px;
  stroke-dasharray: 460.2531433105469px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg#about_fr.active .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}

svg#about_fr .svg-elem-9 {
  stroke-dashoffset: 484.1031799316406px;
  stroke-dasharray: 484.1031799316406px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg#about_fr.active .svg-elem-9 {
  stroke-dashoffset: 0;
  fill: rgb(249, 243, 220);
}



// CONTACT FR

/***************************************************
 * Generated by SVG Artista on 9/26/2023, 11:48:57 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg#contact_fr .svg-elem-1 {
  stroke-dashoffset: 546.6488647460938px;
  stroke-dasharray: 546.6488647460938px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg#contact_fr.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-2 {
  stroke-dashoffset: 334.91473388671875px;
  stroke-dasharray: 334.91473388671875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg#contact_fr.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-3 {
  stroke-dashoffset: 526.4727783203125px;
  stroke-dasharray: 526.4727783203125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg#contact_fr.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-4 {
  stroke-dashoffset: 312.8149719238281px;
  stroke-dasharray: 312.8149719238281px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg#contact_fr.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-5 {
  stroke-dashoffset: 80.53715515136719px;
  stroke-dasharray: 80.53715515136719px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg#contact_fr.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-6 {
  stroke-dashoffset: 48.2252197265625px;
  stroke-dasharray: 48.2252197265625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg#contact_fr.active .svg-elem-6 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-7 {
  stroke-dashoffset: 285.8891906738281px;
  stroke-dasharray: 285.8891906738281px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg#contact_fr.active .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-8 {
  stroke-dashoffset: 765.1767578125px;
  stroke-dasharray: 765.1767578125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg#contact_fr.active .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}

svg#contact_fr .svg-elem-9 {
  stroke-dashoffset: 205.93450927734375px;
  stroke-dasharray: 205.93450927734375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg#contact_fr.active .svg-elem-9 {
  stroke-dashoffset: 0;
  fill: rgb(38, 94, 93);
}
