.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}